
@model Employee
@using Web.Extensions
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> _userManager

<div class="mb-3 row">


    <div class="col-md-2">

        <img class=" rounded-circle  pull-left gap-right" height="60" width="60" src="@(Model.PhotoURL == null ? "/data/employers/photo/default.png" : Model.PhotoURL)  " />
    </div>

    <div class="col-md-4">
        <h5>
            <u>


                <a class="text-light"
                   asp-action="Info"
                   asp-controller="Account"
                   asp-route-ReturnUrl="@ViewBag.ReturnUrl"
                   asp-route-Id="@Model.Id">
                    @Model.Name @Model.Surname
                </a>
            </u>

        </h5>



        <span class="lead">@Model.Position</span>


    </div>







    <div class="col-md-3">
        @Model.PhoneNumber


    </div>
    <div class="col-md-3">


        @if (User.Identity.Name != null && await _userManager.IsInAdminRoleAsync(User))
        {


            <form asp-action="Delete" method="post">

                <div class="input-group">



                    <a class="btn btn-primary mr-2"
                       asp-action="Edit"
                       asp-controller="Account"
                       asp-route-Id="@Model.Id">
                        <i class="fas fa-user-edit"></i>
                    </a>

                    <input type="hidden" name="Id" value="@Model.Id" />

                    <button type="submit" class="btn btn-danger">

                        <i class="fas fa-user-times"></i>
                    </button>

                </div>
            </form>
        }
        else
        {


        }
    </div>



</div>



